.sidebar{
    background: var(--main-color);
    border-right: 1px solid var(--sidebar-border-color);
    width: 8em;
    z-index: 25;
    box-sizing: border-box;
    display: flex;
    flex-shrink: 0;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: stretch;
    align-content: stretch;
    top: 0;
    bottom: 0;
    position: fixed;
    user-select: none;
    left: 0;
    overflow-x: hidden;
    letter-spacing: .3px;
    padding: 20px;
}
.sidebar .logo{
    width: 90px;
}
.sidebar .container{
    overflow-y: auto;
    overflow-x: hidden;
    margin-left: -25%;
    width: 150%;
    padding: 0 1em;
}